

/* to hide the shit*/
.gameBox, .finalMessage{
    display: none;

}


/* answers style*/
.gameAnswers:hover{
    background-color: rgb(125, 155, 211);
    color: white;

}
.gameAnswers{
    font-size: 1.2em;
}



.messageBox{
    margin-top: 20%;
    margin-left: 48%;
}

.finalMessage{
    margin-left: auto;
    margin-top: 15%;
}

.correct{
    background-color: green;
    color: white;
}

.incorrect{
    background-color: red;
    color: white;
}